.. Switch Switch Port List master file, created by
   sphinx-quickstart on Mon Apr  3 10:59:16 2017.
   You can adapt this file completely to your liking, but it should at least
   contain the root `toctree` directive.
   
Site {{ site_name }} 
==================================================================
{% for switch in switchs %}
Switch {{ switch.hostname }} ({{ switch.ip }})
------------------------------------------------------------------

.. list-table:: Ports du switch 
   :header-rows: 1 
   :stub-columns: 1 

   * - Port Name 
     - Description
     - Trunking Mode 
     - Vlan
     - Speed
     - Duplex{% for interface in switch.interfaces %}
   * - {{ interface.portspeed+interface.portnumber }}
     - {{ interface.desc }}
     - {{ interface.trunkingmode }}
     - {% if interface.vlanaccess == 'None' %}{{ interface.vlanaccess }} {% else %} {{ interface.vlantagged }} {% endif %}
     - {{ interface.speed }}
     - {{ interface.duplex }}{% endfor %}
{% endfor %}